.about
    padding-bottom: 10vh
    height: fit content
    width: 100%
    background-color: black
    text-align: center
    h1
        color: white
        padding-top: 50px
    

.about__content
    padding-top: 50px
    display: flex
    justify-content: space-evenly

    @media ( max-width: 700px  )
        flex-direction: column
        align-items: center
 

.about__content__img
    width: 50%
    height: fit-content
    img
        height: auto
        width: 50vw
    @media ( max-width: 700px  )
        width: 100%
        img
            width: 90vw

.about__content__desc
    max-width: 300px
    text-align: left
    color: white
    padding-top: 35px
    h3
        font-weight: normal
        line-height: 1.6
    @media ( max-width: 1000px  )
        padding-top: 0
        h3
            font-size: 1rem
    @media ( max-width: 700px  )
        max-width: 85vw
        padding-top: 20px
        h3
            font-size: 1.3rem
    @media ( max-width: 500px  )
        h3
            font-size: 1rem